@function set-text-color($color) {
  @if(lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}


// Variables

$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium-color: #ccc;
// You should link your image as you would be working in your css file
$bg-image: url(../img/showcase.jpg)


